body {
  background-color: rgb(101, 224, 255);
  color: black;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(238, 0, 238);
}

p{
  font-family: 'Fleur De Leah' !important;
  font-size: 33px;
  font-style: italic;
}